#Python 1
Nama :

###Tipe Data

In [ ]:
a = 10
print(a, "bertipe", type(a))

In [ ]:
nama = 'Toni'
print(nama, "bertipe", type(nama))

In [ ]:
hasil = False
print(hasil, "bertipe", type(hasil))

In [ ]:
b = 25.987
print(b , "bertipe", type(b))

In [ ]:
c = complex(2+3j)
print(c , "bertipe", type(c))

In [ ]:
a = 9
a = 'Tono'
print(a, "bertipe", type(a))

###Operation

In [ ]:
print(3+3)

In [ ]:
print(3*3)

In [ ]:
print(3**3)

In [ ]:
print(9/3)

In [ ]:
print(25%7)
#%, mod, sisa pembagian

In [ ]:
print(max(2,3,4))
print(min(2,3,4))
print(round(5.49))

In [ ]:
print(9**(1/2))

###String

In [ ]:
print("Hello World")
print("Welcome to Python")

In [ ]:
kutipantiga = """this is a long string that is made up of several lines and non-printable characters such as TAB ( \t ) and they will show up that way when displayed. NEWLINEs within the string, whether explicitly given like this within the brackets [ \n ], or just a NEWLINE within the variable assignment will also show up.
"""
print(kutipantiga)

In [ ]:
nama = "Toni"
umur = 120
print("Nama aku " + nama)
print("Umur saya " + str(umur))
print(nama + " adalah namaku.")
print(str(umur) + " adalah umurku.")
print('nama ', nama, 'umur ', umur)

In [ ]:
a =20
b = 90
print (str(a) + str(b))

In [ ]:
nama = "Toni"
umur = 120
print("Nama aku " + nama)
print("Umur saya " + str(umur))
nama = "Bella"
print(nama + " adalah namaku.")
print(nama + " namaku.")

In [ ]:
name = "Bella"
#       12345
#       01234
print(name.upper())
print(name.lower())
print(name.capitalize())
print(name.isupper())
print(name.islower())
print(len(name))
print(name[1:4])
#index selalu mulai dari 0
print(name.index("l"))

In [ ]:
"Hello {} umur saya {}". format(nama, umur)

###Functions

In [ ]:
def perkenalan (nama, asal):
  print(f"Perkenalkan saya {nama} dari {asal}")

perkenalan("Alvin", "Jawa Timur")

In [ ]:
def luasSegitiga (alas, tinggi):
    luas = (alas * tinggi)/2
    print("Luas segitiga =",luas)

luasSegitiga(3,6)

In [ ]:
#Excercise
#Buatlah sebuah fungsi untuk menghitung volume balok 
def volumeBalok():
  #rumus
  Volume = 
  #cetak hasil
  print()

#panggil fungsi volume balok
volumeBalok()

####Percabangan

In [ ]:
i = 4
if i == 1:
    print(1)
elif i == 2:
    print(2)
else :
    print("Not 1 and 2")

###List

In [ ]:
friends = ["A", "B", "C"]
print(friends)            #["A", "B", "C"]
print(friends[0])         #A
print(friends[-1])        #C
print(friends[1:])        #["B", "C"]
print(friends[0:2])       #["A", "B"]

In [ ]:
X = ["A", "B", "C"]
Y = [1, 2, 3]
X.extend(Y)
print(X)

In [ ]:
X.append("D")    
print(X)

In [ ]:
X.insert(1, "D")
print(X)

In [ ]:
X.clear()
print(X)

In [ ]:
X = ["A", "B", "C"]
Y = [1, 2, 3]
X.pop()
print(X)

In [ ]:
X.index("B")           
print(X)

In [ ]:
X.count("B")           
print(X)

In [ ]:
X.sort()
print(X)

In [ ]:
X.reverse()     
print(X)

In [ ]:
X2 = X.copy()
print(X2)

###Dictionary

In [ ]:
# mendefinisikan dictionary
id_divisi = {
    71 : 'IT',
    82 : 'Finance',
    91 : 'Data'
}

# mengakses data menggunakan key
print("Divisi dengan kode 71:", id_divisi[71])

In [ ]:
days_in_a_week = {
        "Mon": "Monday",
        "Tue": "Tuesday",
        "Wed": "Wednesday",
        "Thu": "Thursday",
        "Fri": "Friday",
        "Sat": "Saturday",
        "Sun": "Sunday"
    }
days_in_a_week["Mon"]

###Pengulangan

In [ ]:
#for loops
angka = [1,2,3,4,5]
for x in angka:
    print(x)

In [ ]:
#for loops
buah = ["nanas", "apel", "jeruk"]
for makanan in buah:
    print ("Saya suka makan", makanan)

In [ ]:
#while loops
count = 0
while (count < 9):
    print ("The count is: ", count)
    count = count + 1

print ("Good bye!")

In [ ]:
#Nested Loops
i = 2
while(i < 100):
    j = 2
    while(j <= (i/j)):
        if not(i%j): break
        j = j + 1
    if (j > i/j) : print(i, " is prime")
    i = i + 1

print("Good bye!")

###Excercise

In [ ]:
#Buat program untuk menghitung jumlah seluruh angka ganjil dalam suatu list
# Input: list berisi angka-angka
# Output: jumlah seluruh angka ganjil

In [ ]:
#Diberikan input suatu angka, tampilkan formasi piramida bintang dengan tinggi sesuai dengan angka yang diinputkan
# Input: suatu angka (n)
# Output: piramida dengan tinggi n

#    *
#   ***
#  *****  contoh output untuk n = 5
# *******
#*********